<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.utwente.nl/apc/Code2D"
            class="nl.utwente.apc.Code2D.Code2DPackage"
            genModel="metamodel/text.genmodel"/>
   </extension>

</plugin>
