<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="nl.utwente.apc.Code2D.resource.c2.mopp.C2MetaInformation" id="nl.utwente.apc.Code2D.resource.c2.mopp.C2MetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="nl.utwente.apc.Code2D.resource.c2.problem">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="nl.utwente.apc.Code2D.resource.c2.problem">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="nl.utwente.apc.Code2D.resource.c2.problem">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="nl.utwente.apc.Code2D.resource.c2.problem">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="nl.utwente.apc.Code2D.resource.c2.problem">
		</super>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.nature" name="c2 nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="nl.utwente.apc.Code2D.resource.c2.mopp.C2Nature">
			</run>
		</runtime>
		<builder id="nl.utwente.apc.Code2D.resource.c2.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="nl.utwente.apc.Code2D.resource.c2.builder" name="c2 Builder">
		<builder hasNature="true">
			<run class="nl.utwente.apc.Code2D.resource.c2.mopp.C2BuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="nl.utwente.apc.Code2D.resource.c2.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="nl.utwente.apc.Code2D.resource.c2.mopp.C2ResourceFactoryDelegator" type="c2">
		</parser>
	</extension>
	
	<extension-point id="nl.utwente.apc.Code2D.resource.c2.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="nl.utwente.apc.Code2D.resource.c2.debug.C2LineBreakpoint" id="nl.utwente.apc.Code2D.resource.c2.debug.breakpoint" markerType="nl.utwente.apc.Code2D.resource.c2.debug.lineBreakpoint.marker" name="c2 Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="nl.utwente.apc.Code2D.resource.c2.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="nl.utwente.apc.Code2D.resource.c2.ui.launchConfigurationType" delegate="nl.utwente.apc.Code2D.resource.c2.launch.C2LaunchConfigurationDelegate" modes="run,debug" name="c2 Application" sourceLocatorId="nl.utwente.apc.Code2D.resource.c2.ui.sourceLocator" sourcePathComputerId="nl.utwente.apc.Code2D.resource.c2.ui.sourcePathComputer" delegateName="c2 Launch Tooling" delegateDescription="This will run or debug .c2 files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="nl.utwente.apc.Code2D.resource.c2.debug.C2SourcePathComputerDelegate" id="nl.utwente.apc.Code2D.resource.c2.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="nl.utwente.apc.Code2D.resource.c2.ui.sourceLocator" class="nl.utwente.apc.Code2D.resource.c2.debug.C2SourceLocator" name="c2 Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
